<div class="post">
	<h2 class="title"><%= @post.title %></h2>
	<p class="content"><%= @post.subtext %></p>
	<p class="content"><%= @post.text %></p>
</div>

<div id="comments">
	<%if @comments.size != 0%> 
		<% @comments.each do |comment| %>
			<% user = User.get(comment.user_id)%>
			<div class="comment">
				<div class="photo" style='background-image: url("/photo/small/<%= user.photo_name %>");'>
				</div>

				<div class="triangle"></div>
				<div class="comment_content">
					<p class="comment_text"><%= comment.text %></p>
					<p class="comment_date"><%= "<b>" + user.name + "</b> " + Time.at(comment.created_at).strftime("%k:%M %d-%m-%Y") %></p>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
<div id="comment_form">
	<form onsubmit="sendComment();return false;" name="comment_form" method="post" action="/new_comment">
		<p>Comment</p>
		<textarea type="text" name="text" required></textarea>
		<p>
		<input type="hidden" name="post_id" value="<%= @post.id %>">	
		<input  type="submit" value="Send comment" name="submit">
	</form>
	<script type="text/javascript" src="../js/send_comment.js"></script>
</div>